body {
  text-align: center;
  margin: 20px;
  font-family: "Montserrat", sans-serif;
  background-color: rgba(143, 172, 190, 0.192);
}

h1 {
  font-weight: 600;
}
footer {
  font-size: small;
  font-family: monospace;
  color: rgb(78, 78, 78);
}

a {
  text-decoration: none;
}

.container {
  max-width: 415px;
  text-align: left;
  padding: 50px 65px 50px 65px;
  border-radius: 3%;
  display: block;
  margin: 0 auto;
  margin-bottom: -6px;
  background-color: rgba(220, 220, 220, 0.767);
  border: 1px solid rgba(143, 172, 190);
}

.searchBox {
  width: 282px;
  margin: 4px 0 4px 0;
  border-radius: 3%;
  border: 2px solid gray;
  padding: 1px 8px 2px 8px;
}

.search,
.location,
.updateButton {
  border-radius: 3%;
  padding: 1px 15px 2px 15px;
}

.search {
  background-color: #bbdb97;
  border: 1px solid #bbdb97;
}

.location {
  background-color: #ffa98e;
  border: 1px solid #ffa98e;
}

.updateButton {
  background-color: #1b7ac7;
  border: 0px;
  padding: 0px 1px 1px 1px;
  font-size: 18px;
}

.mainTemp {
  font-size: 3rem;
  font-weight: 500;
  margin: 13px 0 15px 0;
  position: relative;
  left: -18px;
}

.currentUnit {
  font-size: small;
  position: relative;
  left: -29px;
}

.weatherIcon {
  font-family: var(--bs-body-font-family);
  font-size: x-small;
}
